<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name=".SunmiStatusLightService"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.duma.android.hal.HARDWARE_PLUGIN" />
            </intent-filter>
            <meta-data android:name="plugin.id" android:value="sunmi.statuslight" />
            <meta-data android:name="plugin.label" android:value="Sunmi Status Light" />
        </service>

        <service
            android:name=".SunmiNfcService"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.duma.android.hal.HARDWARE_PLUGIN" />
            </intent-filter>
            <meta-data android:name="plugin.id" android:value="sunmi.nfc" />
            <meta-data android:name="plugin.label" android:value="Sunmi NFC" />
        </service>

        <service
            android:name=".SunmiCardService"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.duma.android.hal.HARDWARE_PLUGIN" />
            </intent-filter>
            <meta-data android:name="plugin.id" android:value="sunmi.card" />
            <meta-data android:name="plugin.label" android:value="Sunmi Card Reader" />
        </service>

        <service
            android:name=".SunmiSubScreenService"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.duma.android.hal.HARDWARE_PLUGIN" />
            </intent-filter>
            <meta-data android:name="plugin.id" android:value="sunmi.screen" />
            <meta-data android:name="plugin.label" android:value="Sunmi Sub Screen" />
        </service>

        <service
            android:name=".SunmiDockerService"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.duma.android.hal.HARDWARE_PLUGIN" />
            </intent-filter>
            <meta-data android:name="plugin.id" android:value="sunmi.docker" />
            <meta-data android:name="plugin.label" android:value="Sunmi Docker" />
        </service>

    </application>

</manifest>
