<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <service
            android:name=".SunmiRfidService"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.duma.android.hal.HARDWARE_PLUGIN" />
            </intent-filter>
            <meta-data android:name="plugin.id" android:value="sunmi.rfid" />
            <meta-data android:name="plugin.label" android:value="Sunmi RFID" />
        </service>

    </application>

</manifest>
