<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <queries>
        <!-- StatusLight -->
        <intent>
            <action android:name="com.sunmi.statuslightmanager.StatusLightService" />
        </intent>
        <!-- Card -->
        <intent>
            <action android:name="com.sunmi.mscard.service" />
        </intent>
        <!-- NFC -->
        <intent>
            <action android:name="com.sunmi.nfc.ctrl" />
        </intent>
        <!-- Screen -->
        <intent>
            <action android:name="com.sunmi.usbscreen.IUsbScreenInterface" />
        </intent>
        <!-- Docker -->
        <intent>
            <action android:name="com.sunmi.docker.service" />
        </intent>
    </queries>
</manifest>
